.match {
    color: #fff;
    display: block;
    width: 30rem;
    background: #282c33;
    height: 8.8rem;
    margin-top: 1.6rem;
    padding: 1.4rem 1.6rem .8rem;

    >div {
        float: left;
        text-align: center;
    }
}

img {
    max-width: 100%;
}

.l, .r {
    height: 6.6rem;
    width: 6rem;
}

.match .m {
    height: 6.6rem;
    width: 14.7rem;
    padding: 0 .5rem;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 13.7rem;        
    }

    .leaguename {
        font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
        font-size: 1.3rem;
        line-height: 1.384;
        color: #a0a0a0;
        display: block;
    }

    .dateandscore {
        font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
        font-size: 2rem;
        line-height: 1.3;
        color: #fff;        
    }

    .matchstate {
        font-family: "Segoe UI Bold","Segoe WP Bold","Segoe WP","Segoe UI",Arial,Sans-Serif;
        font-size: 1.3rem;
        line-height: 1.384;
        color: #fdc210;
        text-transform: none;        
    }
}

// responsive

// 3 column
@media only screen and (max-width: 79rem) {
    // .card-full .match {
    //     background-color: green;
    // }

    .card-immersive .match {
        background-color: blue;
    }
}

@media only screen and (max-width: 58.875rem) {
    // .card-full .match {
    //     background-color: blue;
    // }

    .card-immersive .match {
        background-color: red;
    }
}

@media only screen and (max-width: 43.75rem) {
    // .card-full .match {
    //     background-color: red;
    // }

    .card-immersive .match {
        background-color: green;
    }
}

.card-full .match {
    @media only screen and (max-width: 79rem) {
        background-color: green;
    }

    @media only screen and (max-width: 58.875rem) {
        background-color: blue;
    }

    @media only screen and (max-width: 43.75rem) {
        background-color: red;
    }    
}